@use "../../styles/partials/colors";
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.overview-panel {
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    border-bottom: 1px solid colors.$divider;
    padding: 0.875rem;
  }

  &__title {
    @include font-section-header;
    text-align: center;
  }

  &__row {
    border-bottom: 1px solid colors.$divider;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  &__label {
    @include font-label;
    margin-bottom: 0.25rem;
    display: block;
  }
}
