@use "../../styles/partials/colors";
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.tools {
  position: static;
  left: 0;
  top: 0;
  pointer-events: none;

  &__window {
    background-color: colors.$background-light;
    @include common-box-shadow;
    border-radius: 0.5rem;
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    width: 8.5rem;
    pointer-events: all;
    overflow: hidden;
  }

  &__header {
    border-bottom: 1px solid colors.$divider;
    padding: 0.5rem;
  }

  &__title {
    @include font-section-header;
  }

  &__content {
    background-color: colors.$background-light-2;
    padding: 0.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style-type: none;
    gap: 0.5rem;
  }

  &__button {
    @include button;
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.5rem;
    width: 1rem;
  }
}
