$primary-blue: #0c66e4;
$primary-darkblue: #0055cc;


$secondary-blue: #52fefe;

// Mercury
$secondary-gray: #e1e1e1;

$background-light: #f7f8f9;
//Panels
$background-light-2: #f0f1f4;

$background-gray: #d1d1d1;
$background-white: #fff;
$background-dark: #44546f;
$background-selected: #e9f2ff;
//Inspector Textarea
$background-neutral-gray: #E2E4EA;
$background-neutral-gray-hovered: #CFD3DB;


$background-input: #fafbfc;

$text-light: #ffffff;
$text-dark: #172b4d;
$text-gray: #44546f;
$text-subtle: #5e6c84;

//Muted yellow
$node-select-primary: #E5DB00;
//Yellow
$node-select-secondary: #ffff00;


$divider: #091e4224;
