$primary-blue: #0c66e4;
$primary-darkblue: #0055cc;

// Mercury
$secondary-gray: #e1e1e1;

$background-light: #f7f8f9;
$background-gray: #d1d1d1;
$background-white: #fff;
$background-dark: #44546f;
$background-selected: #e9f2ff;

$background-input: #fafbfc;

$text-light: #ffffff;
$text-dark: #172b4d;
$text-gray: #44546f;
$text-subtle: #5e6c84;

$divider: #091e4224;
