@mixin font-section-header {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.375rem;
}

@mixin font-subheader {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

@mixin font-smallheader {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1.25rem;
}

@mixin font-label {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}

@mixin font-field {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin font-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
