@use '../../styles/partials/colors';
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.nodes-panel{

    &__header{
        border-bottom: 1px solid colors.$divider;
        padding: 0.875rem;
    }

    &__search{
        @include input-field;
    }

    &__matches-label{
        padding: 0.5rem 0.75rem;
        color: colors.$text-subtle;
        font-style: italic;
    }
}

.node-list{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 75vh;

    &__item{
        padding: 0.5rem 0.75rem;
        cursor: pointer;

        &:hover:not(&--selected){
            background-color: colors.$secondary-gray;
        }

        &--selected{
            color: colors.$primary-blue;
            background-color: colors.$background-selected;

        }
    }
}


.result-card{
    margin-bottom: 2rem;

    &__title{
        @include font-subheader;
        font-size: 1.25rem;
        padding: 0.25rem 0;
    }

    &__body{
        padding-left: 0.5rem;
        // max-height: 10rem;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }

    &__match{
        max-height: 6rem;
    }

    &__match-title{
        @include font-label;
        display: inline;

    }

    &__match-type{
        color: colors.$text-subtle;
        font-style: italic;
    }

    &__match-value{
        margin-bottom: 1rem;
        display: inline;
    }
}