@use '../../styles/partials/colors';
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;


.selection-rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__rect{
        border: 1px solid colors.$primary-blue;
        background-color: adjust-color($color: colors.$primary-blue, $alpha: -0.9);
        position: absolute;
        pointer-events: none;
    }
}